{% if pageCount is defined and not pageCount is empty and pageCount > 1 %}
    <nav id="pagination">
        <ul>
            <!-- Previous page link -->
            {% if previous is defined and not previous is empty %}
                <li id="prev">
                    <a href="/blog/{{ previous }}">&Larr;</a>
                </li>
            {% endif %}

            <!-- Numbered page links -->
            {% for page in range(1, pageCount)%}
                {% if page != current %}
                    <li id="page-{{ page }}">
                        <a href="/blog/{{ page }}">
                            {{ page }}
                        </a>
                    </li>
                {% else %}
                    <li id="current-page">
                        <span>{{ page }}</span>
                    </li>
                {% endif %}
            {% endfor %}

            <!-- Next page link -->
            {% if next is defined and not next is empty %}
                <li id="next">
                    <a href="/blog/{{ next }}">&Rarr;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
