{% extends '@layout/default.html.twig' %}

{% block title %}{{ blogArticle.title }} | Blog{% endblock %}

{% block content %}
<div id="blogArticle">
    <div>
        <a href="/blog">
            &larr; View all blog articles
        </a>
        <h1>
            {{ blogArticle.title }}
        </h1>
        <div>
            <div>
                <span>
                    Published on {{ blogArticle.getPublishDate|date("m/d/Y", "Australia/Brisbane") }}
                </span>
            </div>
            <div>
                <span>{{ blogArticle.categories|join }}</span>
            </div>
        </div>
        <picture>
            <source type="image/webp"
                    srcset="/images/blogArticles/{{ blogArticle.image }}">
            {% if blogArticle['fallback'] is defined and not blogArticle.fallback is empty %}
                <img src="/images/blogArticles/{{ blogArticle.fallback }}"
                     alt="{{ blogArticle.title }}"
                     loading="lazy">
            {% endif %}
        </picture>
        {% if blogArticle.synopsis is defined and not blogArticle.synopsis is empty %}
            <p>{{ blogArticle.synopsis }}</p>
        {% endif %}
        {{ blogArticle.content|markdown_to_html }}
    </div>
</div>
{% endblock %}
